/* style sheet */



html, body { 
  height: 100%;  
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;


}
body {

  align-items: center;
  justify-content: center;
  background: white; 
}
css-doodle{
  position: relative;
  background-color: white;
  height: 100%; 
  width: 100%;
}



h1{
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 42px;
  font-family: papyrus;
  text-decoration: underline;
}

a{
  position: absolute;
  top: 1%;
  left: 1%;
  color: black;
}

div{
position: absolute;
background: rgba(255, 255, 255, 0); ;
border: 3px solid black;
font-size: 21px;

}

#first{top: 90%;
left: 10px;}
#second{top: 85%;
left: 10px;}
#third{top: 95%;
left: 10px;}

img{
position: absolute;
top: 10px;
right: 10px;
    border: 3px solid black;


}



@media all and (min-width: 1000px){

 html, body { 
  
  width: 100%;  
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;}

  body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; }


  css-doodle{

  position: relative;   
  width: 175%;
  height: 125%;
  background-color: black;
    
  }
 
  h1{
    color: white;
  }
  div{
    color: white;
    background: rgba(0, 0, 0, 0); ;
    border: 3px solid white;
  }
  img{
        border: 3px solid white;

  }

  a{color: white;}
}
