/* Stylesheet for the 53 redesign 


Colors: ;
White
Black
Red highlight
Contrast button color #ef57d4

Typefaces being used:
Monteserrat for main titles 
eaves for body text

*/

/* NOTE: I did not to change the provided source code so didnt change prewritten styles 
but to do what i wanted i instead got more specific and made new styles to make it work 
how I wanted. My new styles are located at the bottom of the css in a labeled section 
Note: I kept some of the origional names such as card-chunk, btn, hero, paper, pencil etc
as i though it was better/easier to understand than making a bunch of new names but changed
them to pencilbtn, pencilhero, etc to make them specificaly for the pencil page. */

/* This section is for universal selections and rules */

/* box model Fix */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clear Fix */

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* image rules */

img {
	width: 100%;
}

/* Type Hierarchy */

@font-face {
    font-family: "GT-Super";
    src: url("../GT-Super/GT-Super-Display-Super.woff2");
}

@font-face {
	font-family: "GT-Medium";
	src: url("../GT-Super/GT-Super-Display-Medium.woff2");
}

@font-face {
	font-family: "GT-Light";
	src: url("../GT-Super/GT-Super-Display-Regular.woff2");
}

body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #ffeae7;
}

h1 {
	font-family: "GT-Super";
	font-size: 60px;
	margin: 1;
	/* we could also use font-size: 4rem; to get the same size. 
	Ultimatley if we were building a site to be completely 
	responsive then we would want to use this but I am going 
	to use my Figma File as a refernce and they use absolute values
	*/
}

h2 {
	font-family: "GT-Super";
	font-size: 36px;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 0;
}

h4 {
	font-family: "GT-Super";
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

h5 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins';
}

ul {
	list-style-type: none;
}

.tighten {
	letter-spacing: -0.03em;
}

/* header styles and rules */

header {
	background-color: #153b84;
	color: #fff;
	position: fixed;
	height: 90px;
	z-index: 4;
	font-size: 0.6em;
}

.icon {
	fill:  whitesmoke;
}

/* 
header li {
	float: left;
	margin-left: 18px;
}
*/

#logo a {
	display: inline-block;
	padding: 1rem;
	max-width: 120px;
	margin-top: 15px;
}


#search {
	display: inline-block;
	border-style: solid;
	border-color: #fff;
	margin-left: 10px;
	padding: 1rem 20px;
	border-radius: 30px;
	width: 310px;
}

#search a {
	line-height: 100px;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

/* homepage hero styles and rules */

#hero {
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	background-color: red;
	height: 90vh;
}

#hero-chunk {
	width: 400px;
	color: #fff;
	margin-top: 200px;
	margin-left: 100px;
}

#hero h1 {
	padding-bottom: 16px;
}

#hero h5 {
	padding-bottom: 30px;
}

a.CTA {
	background-color: #c2402f;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
}


/* homepage mission statemetent styles and rules */
#mission {
	text-align: center;
	color: #161616;
	width: 680px;
	margin: 80px auto;
	margin-bottom: 160px;
}

#mission h2 {
	padding-bottom: 60px;
}

#mission p {
	width: 600px;
	margin: 0 auto;
}

/* Splash graphic 
Its the same as a container-fluid section 
but it doesn't have any content*/ 

#splash {
	width: 100%;
	height: 100vh;
	margin-top: -100px;
	background-image: url("../images/splash.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/* Homepage product feature styles and rules */

#feature {
	margin-top: -470px;
}

.card-chunk span {
	font-family: "GT-Light";
	font-size: 34px;
}

.card-chunk h2 {
	margin: 50px 0;
}

.card-chunk p {
	margin-bottom: 50px;
}

a.CTAtoo {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
	border-style: solid;
}

#paper {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 470px 670px;
	column-gap: 30px;
	overflow: hidden;
}

#pencil {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px;
	display: grid;
	grid-template-columns: 670px 470px;
	column-gap: 30px;
	overflow: hidden;
}

#video {
	background-color: black;
	width: 970px;
	margin: -300px auto;
	border-radius: 20px;
	overflow: hidden;
	width: 90%;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

#video video {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#illust {
	margin-top: -500px;
	height: 570px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#illust h6 {
	font-size: 10px;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: -1;
}

#illust img{
	
	position: absolute;
	z-index: -2;
}

#products a {
	color: #161616;
}

#product-grid {
	width: 1170px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

#newsletter {
	height: 20vh;
	margin-top: 40px;
}

#newsletter .row {
	margin-bottom: 30px;
}

#newsletter .btn {
	background-color: none;
}

#newsletter .btn:hover {
	background-color: black;
}

.btn {
	border-radius: 50px;
}

/*********************

/* About Page styles and rules 

********************/

#aboutHero {
	background-size: cover;
	background-color: #161616;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 200px;
}

#aboutHero h1 {
	color: #fff;
}

.fixedHalf {
	width: 50%;
	position: fixed;
	margin-top: -250px;
	margin-left: 25vw;
}

.scrollHalf {
	width: 50%;
	margin-left: 50%;
	margin-top: -180px;
	overflow: hidden;
	padding-right: 15%;
}

.bright {
	color: #fff;
}

.adjust-height {
	line-height: 6rem;
}

/* Footer styles and rules */

footer {
	background-color: #161616;
	border-radius: 125px 125px 0px 0px;
	color: #fff;
	position: relative;
	z-index: 4;
}

footer h4 {
	padding: 2rem;
	font-family: "GT-Light";
}

#partners {
	text-align: center;
	color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 5%;
}

#partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	text-align: center;
	font-family: 'Poppins';
	font-size: 14px;
	padding-bottom: 15px;
}

#foot-links {
	margin-top: 40px;
}

#foot-links li:first-child {
	font-weight: 600;
	padding-bottom: 30px;
}

#foot-links ul {
	display: flex;
	flex-direction: column;
}

#foot-links li {
	text-align: left;
}

#foot-links img {
	max-width: 70px;
}

#socials {
	display: flex;
	flex-direction: row;
}

#legal {
	text-align: right;
}

#legal span {
	margin-left: 30px;
}

#bottom {
	justify-content: space-between;
	font-size: 12px;
	margin-top: 40px;
	color: antiquewhite;
}



/*********************
 New styles and rules 
********************/

/* Style for "Everlasting/Invincible/Enlightning" sections */
.bordered-li {
  border: 1px solid black;
  border-radius: 21px;
  padding: 10px;
}

/* Style for "Council of 53 mages" Title */
.large{
	font-size: 75px;
}

/* Style for right side of paper section, div holds image */
.pencil-paper-right{
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

/* Style for left side of paper section, div holds text */
.pencil-paper-left{
	width: 100%;
	margin-right: 5px;
}

/* Style for pencil section of pencil page (Try now section) */
#pencilPencil {
	background-color: #fff;
	color: #161616;
	width: 90%;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: 20px;
	border: 10px solid black;
}

/* Style for paper section of pencil page (video section) */
#pencilPaper {
	background-color: #161616;
	color: #fff;
	width: 90%;
	height: auto;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 95px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;
	border: 10px solid;
}

/* Style for button in newsletter section of pencil page  */
.pencilbtn {
	border: 5px solid black;
	border-radius: 50px;
	font-size: 42px;
	padding-bottom: 10px;
}

/* Style for the product grid on the pencil page  */
#pencilProduct-grid {
	width: 75%;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	padding: 0px;
}

/* Style for mission section of pencil page */
#pencilMission {
	text-align: center;
	color: #161616;
	width: 75%;
	margin: 80px auto;
	margin-bottom: 160px;
	padding: 0px;
}

/* Style for illustrator section */
#ill {
	margin-top: -750px;
	height: 800px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

/* Style for h6 in illustrator section */
#ill h6 {
	font-size: 10px;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: -1;
}

/* Style for image in illustrator section */
#ill img{
	height: 800px ;
	position: absolute;
	z-index: -2;
}
/* Style for div that holds circles (circles in hero section) */
.circles{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);

}

/* Style for first circle */
.circle1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  animation-name: circle1Color;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Style for second circle */
.circle2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  animation-name: circle2Color;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Style for third circle */
.circle3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  animation-name: circle3Color;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Style for hero section of pencil page */
#pencilhero {
	background-image: url("../images/quill.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: red;
	height: 90vh;
	animation-name: backgroundCycle;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

/* animation to loop through hero backgrounds */
@keyframes backgroundCycle {
  0%, 30% {
    background-image: url("../images/quill.jpg");
  }
  33%, 63% {
    background-image: url("../images/quill2.jpg");
  }
  66%, 96% {
    background-image: url("../images/table.jpeg");
  }
}

/* Style for hero chunk of pencl page */
#pencilhero-chunk {
	width: 400px;
	color: #fff;
	margin-top: 200px;
	margin-left: 100px;
}

/* Style for h1 in hero section of pencil page */
#pencilhero h1 {
	padding-bottom: 16px;
}

/* Style for h5 in hero section of pencil page */
#pencilhero h5 {
	padding-bottom: 30px;
}

/* Animation for the first Circle */
@keyframes circle1Color {
  0%, 30% {
    background-color: black;
  }

  33%, 63% {
    background-color: white;
  }

  66%, 96% {
    background-color: white;
  }
}

/* Animation for the second Circle */
@keyframes circle2Color {
  0%, 30% {
    background-color: white;
  }

  33%, 63% {
    background-color: black;
  }

  66%, 96% {
    background-color: white;
  }
}

/* Animation for the third Circle */
@keyframes circle3Color {
  0%, 30% {
    background-color: white;
  }

  33%, 63% {
    background-color: white;
  }

  66%, 96% {
    background-color: black;
  }
}

/* Style for span in card chunk section of pencil page */
.pencil-card-chunk span {
	font-family: "GT-Light";
	font-size: 34px;
}

/* Style for h2 in card chunk section of pencil page */
.pencil-card-chunk h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* Style for p in card chunk section of pencil page */
.pencil-card-chunk p {
	margin-bottom: 20px;
}

/* Style for hover state for button in newsletter section of pencil page */
#newsletter .pencilbtn:hover {
	background-color: black;
	color: white;
}